.tmp.driveupload/
bin/
include/imgui/
src/imgui/
obj/
tape/
!Licenses/*.txt
!include/tape/
!src/tape/
PRG/
d64/
d71/
d81/
cart/
imgui.ini
*.bin
*.cbp
chargen
*.depend
kernal
*.hdd
*.rom
basic
*.layout
*.cfg
*.txt
*.d64
*.d71
*.d81
*.nib
*.ini
*.sav