# Build folders
bin/
obj/
build/
Debug/
Release/

# Code::Blocks
*.layout
*.depend
*.cbp

# Compiled files
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib

# OS/editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# ROMs / BIOS / copyrighted files
*.rom
*.bin
*.col
bios*
BIOS*
roms/

# Temp/Debug files
*.txt
*.log

# Config files
*.cfg

# Keep project license tracked
!License.txt
!licenses/**


# External libraries
include/imgui
src/imgui

# State files
*.sav

# Keep Include/Src Debug folder
!include/Debug/
!include/Debug/**
!src/Debug/
!src/Debug/**
